# Core dependencies
opensearch-py==2.4.2
openai==0.28.1
PyPDF2==3.0.1
pydantic==2.6.1
pyyaml==6.0.1
numpy==1.26.4
sentence-transformers
torch
pillow==10.2.0
pillow-heif==0.15.0

# Testing dependencies
pytest==8.0.0
hypothesis==6.98.3

# Additional utilities
python-dotenv==1.0.1
